ul{


  overflow: hidden;
  /*background-color: #333;*/

  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  background-color: #ddd;
  color: black;
}

li{
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	/*color: white;
	display: inline;*/
}

div{

	font-size: 30px;

}
section{
    text-align: center;
	color: rgb(0,0,205);
	background-color: rgb(176,196,222); 
    /*width: 300px;
	height: 100px;*/
	padding-left: 50px; 
	padding-top: 40px;
    margin:0 auto;
    border: 2px solid black;

}
body{

	background-image: url('fundo1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
 header{
 	display: inline;
 }